<div>
  <blockchain-log></blockchain-log>
</div>

<div class="container">
  <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
    <table class="table-bordered highlight responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Purpose</th>
        <th>Payment instructions</th>
        <th>Confirmation</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="o in ctl.paymentList|filter:ctl.showInList|orderBy:'id*1' as list ">
        <td>{{::o.id}}</td>
        <td>{{::o.from}}</td>
        <td>{{::o.to}}</td>
        <td>{{::o.amount}}</td>
        <td>{{::o.purpose}}</td>
        <td>{{::o.description}}</td>
        <td class="my-btn-group">
          <a href="#" ng-show="o.confirm1===false" class="btn btn-default" ng-click="ctl.submitSeller(o)"><i
            class="glyphicon glyphicon-ok"></i> Payer</a>
          <a href="#" ng-if="o.confirm1===undefined" class="btn btn-link" disabled><i
            class="glyphicon glyphicon-time"></i> Processing...</a>
          <a href="#" ng-if="o.confirm1===true" class="btn btn-success" disabled><i
            class="glyphicon glyphicon-saved"></i>
            Confirmed</a>

          <a href="#" ng-show="o.confirm2===false" class="btn btn-default" ng-click="ctl.submitBuyer(o)"><i
            class="glyphicon glyphicon-ok"></i> Payee</a>
          <a href="#" ng-if="o.confirm2===undefined" class="btn btn-link" disabled><i
            class="glyphicon glyphicon-time"></i> Processing...</a>
          <a href="#" ng-if="o.confirm2===true" class="btn btn-success" disabled><i
            class="glyphicon glyphicon-saved"></i>
            Confirmed</a>
        </td>
      </tr>

      <tr ng-hide="list.length">
        <td colspan="7" align="center">
          <i>No items</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
