
<div class="row my-btn-row">
    <blockchain-pie class="col-md-6" data="ctl.nodesData" size="500"></blockchain-pie>
    <div class="col-md-6 md-pull-right">

        <div class="col-md-12 ">
            <span class="btn btn-warning" ng-click="ctl.initDemo()"><i class="glyphicon glyphicon-resize-small"></i> Demo</span>
        </div>

        <div class="col-md-12 ">
            <span class="btn btn-primary" ng-click="ctl.addCounterParty()"> <i class="glyphicon glyphicon-plus"></i> Add counterparty</span>
        </div>
        <div class="col-md-12 ">
            <span class="btn btn-danger" ng-click="ctl.addClaim()"> <i class="glyphicon glyphicon-euro"></i> Add claim</span>
        </div>
        <div class="col-md-12 ">
            <span class="btn btn-default" ng-click="ctl.runNetting()"><i class="glyphicon glyphicon-resize-small"></i> Run netting</span>
        </div>

        <div class="col-md-12 ">
            <span class="btn btn-default" ng-click="ctl.reload()"><i class="glyphicon glyphicon-refresh"></i> update</span>
        </div>
        <div class="col-md-12 ">
            <span class="btn btn-default" ng-click="ctl.clearNetting()"><i class="glyphicon glyphicon-refresh"></i> clear</span>
        </div>

    </div>
    <br>
</div>
<style type="text/css">
    .my-btn-row .col-md-12{
        display: inline-block;
        margin-bottom: 15px;
    }
</style>
<div>
    <blockchain-log endpoint="172.16.32.21:7053"> </blockchain-log>
</div>




<nav class="navbar navbar-default" ng-init="ctl.init()">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a href="#" class="navbar-brand">Brand</a>
        </div>


    </div>
</nav>

<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems" >
    <h3 class="vertical-text">Payment Instructions</h3>

    <!-- <h2></h2> -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Payment instructions</th>
                <th>Confirmation</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in ctl.paymentList|filter:ctl.showInList|orderBy:'id*1' as list ">
                <td>{{::o.id}}</td>
                <td>{{::o.from}}</td>
                <td>{{::o.to}}</td>
                <td>{{::o.amount}}</td>
                <td>{{::o.purpose}}</td>
                <td>{{::o.description}}</td>
                <td class="my-btn-group">
                    <a href="#" ng-show="o.confirm1===false" class="btn btn-default" ng-click="ctl.submitSeller(o)"><i class="glyphicon glyphicon-ok"></i> Payer</a>
                    <a href="#" ng-if="o.confirm1===undefined" class="btn btn-link" disabled><i class="glyphicon glyphicon-time"></i> Processing...</a>
                    <a href="#" ng-if="o.confirm1===true" class="btn btn-success" disabled><i class="glyphicon glyphicon-saved"></i> Confirmed</a>

                    <a href="#" ng-show="o.confirm2===false" class="btn btn-default" ng-click="ctl.submitBuyer(o)"><i class="glyphicon glyphicon-ok"></i> Payee</a>
                    <a href="#" ng-if="o.confirm2===undefined" class="btn btn-link" disabled><i class="glyphicon glyphicon-time"></i> Processing...</a>
                    <a href="#" ng-if="o.confirm2===true" class="btn btn-success" disabled><i class="glyphicon glyphicon-saved"></i> Confirmed</a>
                </td>
            </tr>

            <tr ng-hide="list.length">
                <td colspan="5" align="center">
                    <i>No items</i>
                </td>
            </tr>
        </tbody>
    </table>


</div>











