.loading {
  font-size: 30vmin;
  text-align: center;
}

nav .title {
  font-family: "BaronFont";
  font-size: xx-large;
}

.top-nav {
  margin-left: 20px;
}

.nav-wrapper a.brand-logo img {
  height: 30px;
  left: 25px;
}

.foot3 .f-cont {
  margin: 0;
  padding: 0;
}

html body .wrapper main {
  padding-bottom: 152px;
  margin-bottom: -152px;
}

.container {
  padding: 6% 0;
}

@media screen and (max-width: 768px) {
  html body .wrapper main {
    padding-bottom: 145px;
    margin-bottom: -145px;
  }

  .container {
    padding: 4% 0;
  }
}

@media screen and (max-width: 600px) {
  html body .wrapper main {
    padding-bottom: 137px;
    margin-bottom: -137px;
  }

  .container {
    padding: 3% 0;
  }
}

.wrapper.vertical-sidebar .side-nav li.active {
  background-color: #d6d6d6;
}

.autoconfirm-badge {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.autoconfirm-badge.badge-default {
  color: #bdbdbd;
}

.autoconfirm-badge.badge-warning {
  color: #ffee58;
}

.autoconfirm-badge.badge-success {
  color: #66bb6a;
}
